<form class="flexcol {{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="fullwidth">
            <div class="halftab">Lebenspunkte</div>
            <div class="halftab"><hr></div>
        </div>
        <div class="fullwidth">
            <div class="halftab">Ausrüstungspunkte</div>
            <div class="halftab"><hr></div>
        </div>
        <div class="fullwidth">
            <div class="halftab">Kraftpunkte</div>
            <div class="halftab"><hr></div>
        </div>
        <div class="fullwidth">
            <div class="halftab">Kampfpool</div>
            <div class="halftab"><hr></div>
        </div>
        <div class="fullwidth">
            <div class="borderbox">
                Erinnerung 
                <input class="invisiblebox" type="number" name="system.derivedAttributes.memory" value="{{data.derivedAttributes.memory}}">
            </div>
            <div class="borderbox">
                Heben/Tragen
                <input class="invisiblebox" type="number" name="system.derivedAttributes.liftcarry" value="{{data.derivedAttributes.liftcarry}}">
            </div>
            <div class="borderbox">
                Einschätzen
                <input class="invisiblebox" type="number" name="system.derivedAttributes.composure" value="{{data.derivedAttributes.composure}}">
            </div>
            <div class="borderbox">
                Initiative
                <input class="invisibleinibox" type="text" name="system.derivedAttributes.initiative" value="{{data.derivedAttributes.initiative}}">
            </div>
            <div class="borderbox">
                Verteidigung
                <input class="invisiblebox" type="number" name="system.derivedAttributes.defense" value="{{data.derivedAttributes.defense}}">
            </div>
        </div>
    </header>
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Kurzbio</a>
        <a class="item" data-tab="attributes">Allgemeines</a>
        <a class="item" data-tab="skills">Fertigkeiten</a>
        <a class="item" data-tab="combat">Kampf</a>
        <a class="item" data-tab="items">Ausrüstung</a>
        
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
            <div class="lefttab">
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="243" width="150" />
            </div>
            <div class="righttab">
                <label class="spacedlabel" for="name">Name:</label>
                <input class="spacedbox" name="name" type="text" value="{{actor.name}}" placeholder="Dein Charakter hat keinen Namen?" />
                <label class="spacedlabel" for="race">Rasse:</label>
                <input class="spacedbox" name="system.bio.race" type="text" value="{{data.bio.race}}" placeholder="Welche Rasse hatten deine Eltern?" />
                <label class="spacedlabel" for="origin">Herkunft:</label>
                <input class="spacedbox" name="system.bio.origin" type="text" value="{{data.bio.origin}}" placeholder="Wo wurdest du geboren?" />
                <label class="spacedlabel" for="gender">Alter:</label>
                <input class="spacedbox" name="system.bio.age" type="number" value="{{data.bio.age}}" placeholder="Wie lange machst du schon Probleme?"/>
                <label class="spacedlabel" for="height">Größe und Gewicht:</label>
                <input class="spacedbox" name="system.bio.height" type="text" value="{{data.bio.height}}" placeholder=""/>
            </div>
            <div class="editortab">
                Charaktergeschichte:
                {{editor biographyHTML target="system.biography" button=true editable=editable engine="prosemirror"}}
            </div>
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab description" data-group="primary" data-tab="attributes">
            <div class="thirdtab">
                <div class="borderheadline">Attribute</div>
                <hr class="lowmargin">
                <div class="threequartertab">
                    <label class="spacedlabel" for="system.attributes.dexterity.current">Geschick</label>
                </div>
                <div class="quartertab">
                    <input class="inputfield" type="number" name="system.attributes.dexterity.current" value="{{data.attributes.dexterity.current}}">
                </div>
                <hr class="lowmargin">
                <div class="threequartertab">
                    <label class="spacedlabel" for="system.attributes.body.current">Körper</label>
                </div>
                <div class="quartertab">
                    <input class="inputfield" type="number" name="system.attributes.body.current" value="{{data.attributes.body.current}}">
                </div>
                <hr class="lowmargin">
                <div class="threequartertab">
                    <label class="spacedlabel" for="system.attributes.size.current">Größe</label>
                </div>
                <div class="quartertab">
                    <input class="inputfield" type="number" name="system.attributes.size.current" value="{{data.attributes.size.current}}">
                </div>
                <hr class="lowmargin">
                <div class="threequartertab">
                    <label class="spacedlabel" for="system.attributes.reflexes.current">Reflexe</label>
                </div>
                <div class="quartertab">
                    <input class="inputfield" type="number" name="system.attributes.reflexes.current" value="{{data.attributes.reflexes.current}}">
                </div>
                <hr class="lowmargin">
                <div class="threequartertab">
                    <label class="spacedlabel" for="system.attributes.luck.current">Glück</label>
                </div>
                <div class="quartertab">
                    <input class="inputfield" type="number" name="system.attributes.luck.current" value="{{data.attributes.luck.current}}">
                </div>
                <hr class="lowmargin">
                <div class="threequartertab">
                    <label class="spacedlabel" for="system.attributes.brains.current">Kognition</label>
                </div>
                <div class="quartertab">
                    <input class="inputfield" type="number" name="system.attributes.brains.current" value="{{data.attributes.brains.current}}">
                </div>
                <hr class="lowmargin">
                <div class="threequartertab">
                    <label class="spacedlabel" for="system.attributes.personality.current">Persönlichkeit</label>
                </div>
                <div class="quartertab">
                    <input class="inputfield" type="number" name="system.attributes.personality.current" value="{{data.attributes.personality.current}}">
                </div>
                <hr class="lowmargin">
                <div class="threequartertab">
                    <label class="spacedlabel" for="system.attributes.tech.current">Tech</label>
                </div>
                <div class="quartertab">
                    <input class="inputfield" type="number" name="system.attributes.tech.current" value="{{data.attributes.tech.current}}">
                </div>
            </div>
            <div class="thirdtab">
                <div class="borderheadline">Vorteile</div>
                <hr class="lowmargin">
                <input class="advantagefield" type="text" name="system.advantages.other.advantage1" value="{{data.advantages.other.advantage1}}"/>
                <hr class="lowmargin">
                <input class="advantagefield" type="text" name="system.advantages.other.advantage2" value="{{data.advantages.other.advantage2}}"/>
                <hr class="lowmargin">
                <input class="advantagefield" type="text" name="system.advantages.other.advantage3" value="{{data.advantages.other.advantage3}}"/>
                <hr class="lowmargin">
                <input class="advantagefield" type="text" name="system.advantages.other.advantage4" value="{{data.advantages.other.advantage4}}"/>
                <hr class="lowmargin">
                <input class="advantagefield" type="text" name="system.advantages.other.advantage5" value="{{data.advantages.other.advantage5}}"/>
                <hr class="lowmargin">
                <input class="advantagefield" type="text" name="system.advantages.other.advantage6" value="{{data.advantages.other.advantage6}}"/>
                <hr class="lowmargin">
                <input class="advantagefield" type="text" name="system.advantages.other.advantage7" value="{{data.advantages.other.advantage7}}"/>
                <hr class="lowmargin">
                <input class="advantagefield" type="text" name="system.advantages.other.advantage8" value="{{data.advantages.other.advantage8}}"/>
            </div>
            <div class="thirdtab">
                <div class="borderheadline">Nachteile</div>
                <hr class="lowmargin">
                <input class="advantagefield" type="text" name="system.disadvantages.other.advantage1" value="{{data.disadvantages.other.advantage1}}"/>
                <hr class="lowmargin">
                <input class="advantagefield" type="text" name="system.disadvantages.other.advantage2" value="{{data.disadvantages.other.advantage2}}"/>
                <hr class="lowmargin">
                <input class="advantagefield" type="text" name="system.disadvantages.other.advantage3" value="{{data.disadvantages.other.advantage3}}"/>
                <hr class="lowmargin">
                <input class="advantagefield" type="text" name="system.disadvantages.other.advantage4" value="{{data.disadvantages.other.advantage4}}"/>
                <hr class="lowmargin">
                <input class="advantagefield" type="text" name="system.disadvantages.other.advantage5" value="{{data.disadvantages.other.advantage5}}"/>
                <hr class="lowmargin">
                <input class="advantagefield" type="text" name="system.disadvantages.other.advantage6" value="{{data.disadvantages.other.advantage6}}"/>
                <hr class="lowmargin">
                <input class="advantagefield" type="text" name="system.disadvantages.other.advantage7" value="{{data.disadvantages.other.advantage7}}"/>
                <hr class="lowmargin">
                <input class="advantagefield" type="text" name="system.disadvantages.other.advantage8" value="{{data.disadvantages.other.advantage8}}"/>
            </div>
            <hr>
            <div class="thirdtab">Talente</div>
            <div class="thirdtab">Unterschlupf</div>
            <div class="thirdtab">Kontakte</div>
            <hr>
        </div>

        {{!-- Skills Tab --}}
        <div class="tab description" data-group="primary" data-tab="skills">
            <a class="item skill-roll" title="roll"><i class="fas fa-dice-d6 faD20Stat"></i></a>
        </div>

        {{!-- Combat Tab --}}
        <div class="tab description" data-group="primary" data-tab="combat">
            a
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <ol class="item-list">
                {{#each data.items as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                    <h4 class="item-name">{{item.name}}</h4>
                    {{!-- Iterate through all attributes on the item and output buttons for any that are formula. --}}
                    <div class="item-buttons">
                        {{#each item.system.attributes as |itemAttr key|}}
                        {{#if itemAttr.dtype}}
                            {{#if itemAttr.isFormula}}
                                {{!-- Use the items.name.key format for shorthand. --}}
                                {{#if ../../shorthand}}
                                <button class="item-button rollable" data-roll="@items.{{slugify item.name}}.{{key}}" data-label="{{ itemAttr.label }}"
                                    title="{{itemAttr.value}}">{{itemAttr.label}}</button>
                                {{!-- Use the items.name.attributes.key.value format otherwise. --}}
                                {{else}}
                                <button class="item-button rollable"
                                    data-roll="@items.{{slugify item.name}}.attributes.{{key}}.value" data-label="{{ itemAttr.label }}"
                                    title="{{itemAttr.value}}">{{itemAttr.label}}</button>
                                {{/if}}
                            {{/if}}
                        {{else}}
                            {{#each itemAttr as |itemGroupedAttr groupedKey|}}
                                {{#if itemGroupedAttr.isFormula}}
                                    {{!-- Use the items.name.key format for shorthand. --}}
                                    {{#if ../../../shorthand}}
                                    <button class="item-button rollable" data-roll="@items.{{slugify item.name}}.{{key}}.{{groupedKey}}" data-label="{{ itemGroupedAttr.label }}"
                                        title="{{itemGroupedAttr.value}}">{{itemGroupedAttr.label}}</button>
                                    {{!-- Use the items.name.attributes.key.value format otherwise. --}}
                                    {{else}}
                                    <button class="item-button rollable"
                                        data-roll="@items.{{slugify item.name}}.attributes.{{key}}.{{groupedKey}}.value" data-label="{{ itemGroupedAttr.label }}"
                                        title="{{itemGroupedAttr.value}}">{{itemGroupedAttr.label}}</button>
                                    {{/if}}
                                {{/if}}
                            {{/each}}
                        {{/if}}
                        {{/each}}
                    </div>
                    <div class="item-controls">
                        <a class="item-control" title="{{ localize "SIMPLE.ItemEdit" }}" data-action="edit"><i class="fas fa-edit"></i></a>
                        <a class="item-control" title="{{ localize "SIMPLE.ItemDelete" }}" data-action="delete"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
            <p>
                <a class="item-control" title="{{ localize "SIMPLE.ItemCreate" }}" data-action="create"><i class="fas fa-plus"></i> {{ localize "SIMPLE.ItemCreate" }}</a>
            </p>
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <header class="attributes-header flexrow">
                <span class="attribute-key">{{localize "SIMPLE.AttributeKey"}}</span>
                <span class="attribute-value">{{localize "SIMPLE.AttributeValue"}}</span>
                <span class="attribute-label">{{localize "SIMPLE.AttributeLabel"}}</span>
                <span class="attribute-dtype">{{localize "SIMPLE.AttributeDtype"}}</span>
                <a class="attribute-control" data-action="create" data-group="{{group}}"><i class="fas fa-plus"></i></a>
            </header>

            {{!-- Render the attribute list partial. --}}
            {{> "systems/masseffect/templates/parts/sheet-attributes.html" attributes=systemData.ungroupedAttributes dtypes=dtypes}}

            {{!-- Render the grouped attributes partial and control. --}}
            <div class="groups">
                {{> "systems/masseffect/templates/parts/sheet-groups.html" attributes=systemData.groupedAttributes groups=systemData.groups dtypes=dtypes}}

                <div class="group-controls flexrow">
                    <input class="group-prefix" type="text" value=""/>
                    <a class="button group-control" data-action="create-group"><i class="fas fa-plus"></i>Add Attribute Group</a>
                </div>
            </div>
        </div>
    </section>
</form>
